
.logonBody
{
    background:#e2e2e2
}

.logonContainer
{
    margin: 50px 200px;
}

    .logonContainer input[type="submit"], input[type="button"], button
    {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
    }

    .logonContainer fieldset ol
    {
        padding:0;
        list-style: none;
    }

        .logonContainer fieldset ol li
        {
            padding-bottom: 5px;
        }