@{
    ViewBag.Title = "ItemDetail";
    Layout = "~/Views/Shared/_MasterGeneral.cshtml";
}

@model RuiJi.UI.Models.ArticleModel

@section contentItem {
    <div class="main">
        <p class="fontbox"><strong>@Model.Title</strong>
        @Model.PublishDate
        </p>

		<div style="padding:18px; border:1px solid #C6C8C9; margin-top:10px;">

            @Model.ContentDetail
        @*<p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; TEXT-INDENT: 24pt; mso-char-indent-count: 2.0"><font face="宋体"><span lang="EN-US">HP Quick Test Professional</span>为业界每一个重要的应用软件和测试环境提供最佳的功能和回归测试自动的解决方案。依靠其创新，关键字驱动的结构自动化方法，你可以使用多种语言构建测试来验证用户的交互并确保业务流程的完整性和正确性。这种自动化测试方案不仅加速了测试工作，而且大大降低了日常的维护。</font></p>
        <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; TEXT-INDENT: 24pt; mso-char-indent-count: 2.0"><font face="宋体"><span lang="EN-US"><span style="mso-spacerun: yes">&nbsp;</span>HP Quick Test Professional</span>可以满足专业和非专业用户的需求，使企业能够更快、更便宜和更小的风险部署高质量的应用系统。而且它还可以与我们新的自动化测试系统<span lang="EN-US">HP Business Process Testing</span>集成，</font></p>
        <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; TEXT-INDENT: 24pt; mso-char-indent-count: 2.0"><font face="宋体">使用此产品，您的<span lang="EN-US">QA</span>组织可以实现很多优点：</font></p>
        <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; TEXT-INDENT: 24pt; mso-char-indent-count: 2.0"><font face="宋体">·使整个团队在最短的时间内掌握创建复杂的测试工具</font></p>
        <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; TEXT-INDENT: 24pt; mso-char-indent-count: 2.0"><font face="宋体">·确保功能在所有的环境下、数据集和业务流程方面的正确性</font></p>
        <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; TEXT-INDENT: 24pt; mso-char-indent-count: 2.0"><font face="宋体">·完全记录和回归软件缺陷，使开发能够快速的修复这些缺陷并按时提交</font></p>
        <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; TEXT-INDENT: 24pt; mso-char-indent-count: 2.0"><font face="宋体">·在不断变化的应用和环境下轻松完场回归测试<br><a href="http://www.todaychina.com/resource/h000/h10/img200909230208450.JPG" target="_blank"><img alt="" src="HP%20Quick%20Test%20Professional%E4%BB%8B%E7%BB%8D%20-%20%E8%87%AA%E5%8A%A8%E5%8C%96%E8%BD%AF%E4%BB%B6%E6%B5%8B%E8%AF%95%20-%20%E4%BB%8A%E6%97%A5%E7%A7%91%E6%8A%80_files/img200909230208450.JPG" border="0"></a></font></p>			*@  

		</div>
    </div>
        
}
