@model RuiJi.UI.Models.ArticleListModel

@{
    ViewBag.Title = Model.MenuSectionTitle;
    Layout = "~/Views/Shared/_MasterGeneral.cshtml";
}



@section contentItem {
    <div class="main">
        <p><img src="/images/ruiji/list_img.gif"></p>

        @Html.Partial("_BreadcrumbPartial")

        @foreach (var item in Model.Articles) {
            <h5>@item.Title</h5>
            <p class="fontdetail">@item.Abstract<a href="@Url.Action("Detail", new { articleId = item.ArticleId })"><img src="/images/ruiji/list_look.gif"></a></p>
            <hr style="margin-top: 10px;" size="1">
        }

        @*<p style="padding: 15px 0px 15px 0px ;text-align: center;">
            <b><a href="http://www.todaychina.com/app/index.php/4,0.html">上一页</a></b>&nbsp;&nbsp;<a href="http://www.todaychina.com/app/index.php/4,0.html">1</a>&nbsp;<font color="#FF0000">[2]</font>&nbsp;<a href="http://www.todaychina.com/app/index.php/4,2.html">3</a>&nbsp;<a href="http://www.todaychina.com/app/index.php/4,3.html">4</a>&nbsp;&nbsp;<b><a href="http://www.todaychina.com/app/index.php/4,2.html">下一页</a></b>
        </p>*@
    </div>
}
