@{
    ViewBag.Title = "ItemDetail";
    Layout = "~/Views/Shared/_MasterGeneral.cshtml";
}

@model RuiJi.UI.Models.ArticleModel

@section contentItem {
    
        <p class="fontbox"><strong>@Model.Title</strong>
         @if(Model.IsPublished)
         {
           <span>@Model.PublishDate.ToString("yyyy-MM-dd");</span> 
         }
        </p>

		<div style="padding:18px; border:1px solid #C6C8C9; margin-top:10px;">

           @Html.Raw(Model.ContentDetail)
        
		</div>
        
}
