@{
    Layout = null;
}

<h4>
    @Resource.Breadcrumb_Title
    <a href="@Url.Action("HomePage")"> @Resource.Breadcrumb_Top </a>  &gt; 
    <a href="http://www.todaychina.com/app/index.php/4,0.html"> @Model.MenuSectionTitle </a>
</h4>
